body {
    background-color: rgb(12, 114, 99);
    padding-left: 5%;
    padding-right: 5%;
}

div {
    background-color: beige;
    padding: 1%;

}

section {
    margin: 2%;
}

img {
    width: 400px;
    height: 700px;
}